In [47]:
x=6

In [48]:
l2=[1,2,3,4]
pivot = 2
less = []
greater = []
for num in l2:
    if num <pivot:
        less.append(num)
    else:
        greater.append(num)
less

[1]

In [49]:
greater

[2, 3, 4]

In [50]:
#pass by object reference
l3 = [0,1,2]
l4 = l3
l3.append(3)
l4

[0, 1, 2, 3]

In [51]:
#pass by object reference, may want to copy instead
l5 = [0,1,2]
l6 = l5.copy()
l5.append(3)
l6

[0, 1, 2]

In [52]:
#same for functions
def append_element(some_list,element):
    some_list.append(element)
    

data = [1,2,3]
append_element(data,4)
data

[1, 2, 3, 4]

In [53]:
s='python'
list(s)
#string is list of unicode characters

['p', 'y', 't', 'h', 'o', 'n']

In [54]:
#backslash is escape
s = "12\\34"
print(s)

12\34

In [55]:
# raw strings
s = r'this\has\no\special\characters'
print(s)

this\has\no\special\characters

In [56]:
s = 'thisas\nopecialharacters'
print(s)
#\n is special character need to escape

thisas
opecialharacters

In [57]:
#string templates
template = '{0:.2f}{1:s} are worth US ${2:d}'
template.format(4.5560,' Argentine Pesos',1)

'4.56 Argentine Pesos are worth US $1'

In [58]:
from datetime import datetime, date, time
dt = datetime(2022,1,27,20,35,15)
dt.day

27

In [59]:
dt.minute # minute of dt object

35

In [60]:
#for just date
dt.date()

datetime.date(2022, 1, 27)

In [61]:
#for just time
dt.time()

datetime.time(20, 35, 15)

In [62]:
type(dt.time())

datetime.time

In [63]:
dt.strftime('%m/%d/%Y %H:%M')

'01/27/2022 20:35'

In [64]:
#convert string to datetime object
datetime.strptime('20220214','%Y%m%d')

datetime.datetime(2022, 2, 14, 0, 0)

In [65]:
dt

datetime.datetime(2022, 1, 27, 20, 35, 15)

In [66]:
dt.replace(minute=0,second=1)

datetime.datetime(2022, 1, 27, 20, 0, 1)

In [67]:
#time delta is difference of two datetime objects
dt2 = datetime(2022,2,15,22,30)
delta = dt2 - dt
delta

datetime.timedelta(days=19, seconds=6885)

In [68]:
type(delta)

datetime.timedelta

In [69]:
# to get back to dt2
dt + delta

datetime.datetime(2022, 2, 15, 22, 30)

In [70]:
# if , elif, else control flow statements
x=2
if x<0:
    print("it's negative")

In [71]:
if x<0:
    print("It's  negative")
elif x==0:
    print("equal to zero")
elif 0<x<5:
    print("positive but smaller than 5")
else:
    print("Positive and larger than or equal to 5")

positive but smaller than 5

In [73]:
#compound statements
a =5; b=7
c=8; d =4

In [75]:
# or this works and is more readable
a,b = 5,7 
b,a = a,b
a

7

In [76]:
b

5

In [78]:
if a>b or c>d: #will short circuit and not evaluare c>d
    print("done")

done

In [83]:
#for loops
sequence = [1,2,None,4,None,5]
total = 0 
for value in sequence:
    if value is None:
        continue
    total +=value
total

12

In [ ]:
type(range(4))

range

In [88]:
x = list(range(4))
print(x)

[0, 1, 2, 3]

In [ ]:
# break only terminates innermost forloop 
for i in range(4):
    for j in range(4):
        if j>i:
            break
        print(i,j)

0 0
1 0
1 1
2 0
2 1
2 2
3 0
3 1
3 2
3 3

In [ ]:
# if element in collection are sequences, they can be conveniently unpacked into variables
data = [(1,2,3),
        (4,5,6),
        (7,8,9)]

for a,b,c in data:
    print(a,b,c)

1 2 3
4 5 6
7 8 9